<% const isPaused = model.currentActiveRound.paused; %>
<form id="entryForm">
    <% if(isAdmin){ %>
        <input type="hidden" name="id" id="submissionId"/>
    <% } %>
    <div class="mb-3">
        <% if(!isAdmin){ %>
            <label class="d-block mb-2">Post a link to the WAD below. Or you can upload it</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="uploadOrUrl" id="link" value="url" checked>
                <label class="form-check-label" for="link">Link</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="uploadOrUrl" id="Upload" value="upload">
                <label class="form-check-label" for="Upload">Upload</label>
            </div>
        <% } %>
        <div id="wadDownloadUrlSection">
            <label for="wadUrl" class="form-label">Wad download URL
                <span title="required" class="text-danger">*</span></label>
            <input required type="url" class="form-control" id="wadUrl" name="WAD">
        </div>
        <% if(!isAdmin){ %>
            <div class="hidden">
                <label for="wadFile" class="form-label">Upload WAD
                    <span title="required" class="text-danger">*</span></label>
                <input name="file" class="form-control" type="file" id="wadFile" accept="<%- process.env.ALLOWED_FILES.split(",").map(fileExt => `.${fileExt}`).join(","); -%>">
            </div>
        <% } %>
    </div>
    <div class="mb-3">
        <label for="wadName" class="form-label">Name of the wad
            <span title="required" class="text-danger">*</span></label>
        <input name="WADName" type="text" class="form-control" id="wadName" required>
    </div>
    <div class="mb-3">
        <label for="levelToPlay" class="form-label">Which level should I play? Don't tell me to choose one myself, or I'll have to reject it.
            <span title="required" class="text-danger">*</span></label>
        <input name="level" type="text" class="form-control" id="levelToPlay" required>
    </div>
    <div class="mb-3">
        <label for="gameEngine" class="form-label">Which engine is this level designed for?
            <span title="required" class="text-danger">*</span></label>
        <select name="engine" id="gameEngine" class="form-select" aria-label="Which engine is this level designed for?">
            <% for(const key in model.doomEngines) {
                const value = model.doomEngines[key];
            %>
            <option data-value=<%- value; -%> value="<%- key; -%>"><%- value; -%></option>
            <% } %>
        </select>
    </div>
    <% if(!isAdmin){ %>
        <div class="mb-3 hidden" id="gzActionsContainer">
            <label class="d-block mb-2">If GZDoom is required, am I allowed to jump, crouch, or mouse-look?</label>
            <% for(const key in model.gzActions) {
                const value = model.gzActions[key];
            %>
            <div class="form-check form-check-inline">
                <input name="gzDoomAction" class="form-check-input" type="checkbox" id="gzActionCheck_<%- key; -%>" value="<%- key; -%>">
                <label class="form-check-label" for="gzActionCheck_<%- key; -%>"><%- value; -%></label>
            </div>
            <% } %>
        </div>
    <% } %>
    <div class="mb-3">
        <label for="authorName" class="form-label">Under what name would you like to submit? Leave empty to remain anonymous.</label>
        <input name="authorName" type="text" class="form-control" id="authorName" placeholder="anonymous">
    </div>
    <% if(!isAdmin){ %>
        <div class="mb-3">
            <label class="d-block mb-2">Did you make this level?
                <span title="required" class="text-danger">*</span></label>
            <div class="form-check form-check-inline">
                <input name="author" class="form-check-input" type="radio" id="authorYes" value="true">
                <label class="form-check-label" for="authorYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input name="author" class="form-check-input" type="radio" id="authorNo" value="false" checked>
                <label class="form-check-label" for="authorNo">No</label>
            </div>
        </div>
    <% } %>
    <div class="mb-3 hidden" id="distributableSection">
        <label class="d-block mb-2">If you've made the WAD, and it's not hosted or available anywhere, am I allowed to provide it to the viewers?</label>
        <div class="form-check form-check-inline">
            <input name="distributable" class="form-check-input" type="radio" id="distributableYes" value="true">
            <label class="form-check-label" for="distributableYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="distributable" class="form-check-input" type="radio" id="distributableNo" value="false" checked>
            <label class="form-check-label" for="distributableNo">No</label>
        </div>
    </div>
    <% if(!isAdmin){ %>
        <div class="mb-3">
            <label for="extraInfo" class="form-label">Tell me something about the level, its backstory, inspiration, yourself -- whatever you want. Keep it somewhat short as I need to memorise it.</label>
            <textarea name="info" class="form-control" id="extraInfo" rows="3"></textarea>
        </div>
    <% } %>
    <% if(!isAdmin){ %>
        <div class="mb-3">
            <label for="email" class="form-label">Your Email address
                <span title="required" class="text-danger">*</span></label>
            <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
        </div>
    <% } %>
    <% if(!isAdmin && !isPaused){ %>
        <div class="text-center">
            <button id="submit" type="submit" class="btn btn-primary">
			<span id="loading" class="hidden">
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				Loading...
			</span>
                <span id="submitEntry">
				Submit
			</span>
            </button>
        </div>
    <% } %>
</form>
