<table class="table submissionsTable">
    <thead>
    <tr>
        <% if(isAdmin){ %>
            <th scope="col">ID.</th>
        <% } %>
        <th scope="col">No.</th>
        <th scope="col">WAD</th>
        <th scope="col">Level</th>
        <% if(isAdmin){ %>
            <th scope="col">Wad engine</th>
            <th scope="col">GzDoom actions</th>
            <th scope="col">Submitter name</th>
            <th scope="col">Submitter is author</th>
            <th scope="col">Distributable</th>
            <th scope="col">Info</th>
            <th scope="col">Submitter email</th>
        <% } %>

        <% if(includeDownload){ %>
            <th scope="col">Download</th>
        <% } %>
        <% if(isResults){ %>
            <th scope="col">Status</th>
            <th scope="col">Comments</th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <%
    submissions = submissions.sort((a, b) => a.id - b.id);
    for(let i = 0 ; i < submissions.length; i++){
        const chosenSubmission = submissions[i];
    %>
    <tr data-id="<%- chosenSubmission.id; -%>">
        <% if(isAdmin){ %>
            <td><%- chosenSubmission.id; -%></td>
        <% } %>
        <td><%- i + 1; -%></td>
        <td>
            <u>
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="<%- chosenSubmission.wadName; -%>"><%- chosenSubmission.wadName; -%></span>
            </u>
        </td>
        <td><%- chosenSubmission.wadLevel; -%></td>

        <% if(isAdmin){ %>
            <td><%- chosenSubmission.getEngineAsString(); -%></td>
            <td><%- chosenSubmission.getGzActionAsString()?.join("<br/>"); -%></td>
            <td><%- chosenSubmission.submitterName ?? "anonymous"; -%></td>
            <td><%- chosenSubmission.submitterAuthor; -%></td>
            <td><%- chosenSubmission.distributable; -%></td>
            <td><%- chosenSubmission.info; -%></td>
            <td>
                <a href="mailto:<%- chosenSubmission.submitterEmail; -%>"><%- chosenSubmission.submitterEmail; -%></a>
            </td>
        <% } %>
        <% if(includeDownload){ %>
            <% if(chosenSubmission.getDownloadUrl(isAdmin ?? false) !== null){ %>
                <td>
                    <a type="button" class="btn btn-outline-primary" target="_blank"
                       href="<%- chosenSubmission.getDownloadUrl(isAdmin ?? false); -%>">Download</a>
                </td>
            <% } else { %>
                <td>N/A</td>
            <% } %>
        <% } %>
        <% if(isResults){ %>
            <% if(chosenSubmission.status.status === "Rejected"){ %>
                <td class="text-danger"><%- chosenSubmission.status.status; -%></td>
            <% }else { %>
                <td><%- chosenSubmission.status.status; -%></td>
            <% } %>
            <td><%- chosenSubmission.status.additionalInfo ?? ""; -%></td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>

