<!doctype html>
<html lang="en">
<%- include('snippets/head.ejs'); %>
<body>
<div class="container mt-5">
    <main>
        <% if (currentActiveRound === null){ %>
            <div class="col-md-12">
                <%- include('snippets/resultTable.ejs'); %>
            </div>
        <% } else { %>
            <div class="card border-primary mb-3">
                <div class="card-header">Submission round <%- currentActiveRound.id -%></div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="d-block mb-2">Post a link to the WAD below. Or you can attach it</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="uploadOrUrl" id="link" value="url" checked>
                                <label class="form-check-label" for="link">Link</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="uploadOrUrl" id="Upload" value="upload">
                                <label class="form-check-label" for="Upload">Upload</label>
                            </div>
                            <div class="hidden">
                                <label for="wadUrl" class="form-label">Wad download URL</label>
                                <input type="url" class="form-control" id="wadUrl">
                            </div>

                            <div class="hidden">
                                <label for="wadFile" class="form-label">Upload WAD</label>
                                <input class="form-control" type="file" id="wadFile" accept="<%- process.env.ALLOWED_FILES.split(",").map(fileExt => `.${fileExt}`).join(","); -%>">
                            </div>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        <% } %>
    </main>
</div>
<%- include('snippets/scripts.ejs'); %>
<script src="assets/custom/js/index.js"></script>
</body>
</html>
