<!doctype html>
<html lang="en">
<%- include('../snippets/head.ejs'); %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/fh-3.3.1/sl-1.5.0/datatables.min.css"/>
<body>

<%
function mode(arr) {
    const mappedArr = arr.map(submission => submission.wadName);
    return mappedArr.sort((a, b) =>
            mappedArr.filter(v => v === a).length
            - mappedArr.filter(v => v === b).length
    ).pop();
}
%>
<div id="overlay" class="hidden">
    <div id="loader" class="hidden"></div>
</div>
<div class="container mt-5">
    <main>
        <% if(indexModel.currentActiveRound){ %>
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-primary mb-3">
                        <div class="card-header">Round <%- indexModel.currentActiveRound.id; -%></div>
                        <div class="card-body text-center">
                            <% if(indexModel.currentActiveRound.paused){ %>
                                <h5 class="card-title mb-4 text-danger">Round is currently paused</h5>
                            <% }else{ %>
                                <h5 class="card-title mb-4 text-success">Round is active</h5>
                            <% } %>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="card-title text-primary">Number of submissions</h5>
                                    <h5 class="card-text"><%- indexModel.currentActiveRound.submissions?.length ?? 0; -%></h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title text-primary">Most requested WAD</h5>
                                    <h5 class="card-text"><%- mode(indexModel.currentActiveRound.submissions); -%></h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="card-title text-primary">Number of map authors</h5>
                                    <h5 class="card-text"><%- indexModel.currentActiveRound.submissions?.filter(submission => submission.submitterAuthor)?.length ?? 0; -%></h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <% if(indexModel.currentActiveRound.paused){ %>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#resumeRoundModal">Resume round</button>
                                <% } else { %>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#pauseRoundModal">Pause round</button>
                                <% } %>
                                <button type="button" class="btn btn-outline-success" id="endRoundButton" data-bs-toggle="modal" data-bs-target="#endRoundModal">End round</button>
                                <button type="button" class="btn btn-outline-danger" id="deleteRoundButton">Delete round</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card border-primary mb-3 ml-3">
                        <div class="card-header">Current submissions</div>
                        <div class="card-body">
                            <%- include('../snippets/SubmissionsTable.ejs', {
                            submissions: indexModel.currentActiveRound.submissions,
                            includeDownload: true,
                            isAdmin: true
                            }); %>
                        </div>
                    </div>
                </div>
            </div>
        <% }else { %>
            make a new one i guess
        <% } %>
        <% if(indexModel.previousRounds.length > 0){ %>
            <div class="row mt-5">
                <div class="col-md-12">
                    <%- include('../snippets/resultTable.ejs', {
                    model: indexModel,
                    includeDownload: true,
                    isAdmin: true
                    }); %>
                </div>
            </div>
        <% } %>
    </main>
</div>
<% if(indexModel.currentActiveRound){ %>
    <% if(indexModel.currentActiveRound.paused){ %>
        <div class="modal fade" id="resumeRoundModal" tabindex="-1" aria-labelledby="resumeRoundModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="resumeRoundModalLabel">Resume round <%- indexModel.currentActiveRound.id; -%></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Resuming this round will allow submissions again</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="resumeRoundButton">Resume</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="modal fade" id="pauseRoundModal" tabindex="-1" aria-labelledby="pauseRoundModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="pauseRoundModalLabel">Pause round <%- indexModel.currentActiveRound.id; -%></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you wish to pause this round? this will lock the round and prevent anyone from submitting any more entries</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="pauseRoundButton">Pause</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>


    <div class="modal fade" id="endRoundModal" tabindex="-1" aria-labelledby="endRoundModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="endRoundModalLabel">End current round</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="endRoundModalContent">
                    <form id="endRoundWizard">
                        <nav>
                            <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="step1-tab" data-toggle="tab" href="#step1">Pause round</a>
                                <a class="nav-link" id="step2-tab" data-toggle="tab" href="#step2">Select winners</a>
                                <a class="nav-link" id="step3-tab" data-toggle="tab" href="#step3">Review</a>
                            </div>
                        </nav>
                        <div class="tab-content py-4" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="step1">
                                <div class="alert alert-primary" role="alert">
                                    <i class="bi bi-exclamation-triangle"></i>
                                    In order to finish this round and pick winners, you must first pause the current active round
                                </div>
                                <% if(indexModel.currentActiveRound.paused){ %>
                                    <div class="alert alert-success" role="alert">
                                        <i class="bi bi-check-circle"></i> Round is paused
                                    </div>
                                <% } else { %>
                                    <div class="alert alert-warning" role="alert">
                                        <i class="bi bi-exclamation-triangle"></i>
                                        Please pause the round to continue
                                        <button type="button" class="btn btn-outline-success" id="endRoundPauseRoundButton">Pause round</button>
                                    </div>
                                <% } %>
                            </div>
                            <div class="tab-pane fade" id="step2">
                                <table class="table" id="endRoundResultsTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">WAD</th>
                                        <th scope="col">Level</th>
                                    </tr>
                                    </thead>
                                    <tbody id="endRoundResultsTableBody"></tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="step3">
                                <div class="mb-3">
                                    <label for="first_name">Required field 1</label>
                                    <input type="text" class="form-control-plaintext" value="Lorem ipsum dolor sit amet" id="first_name">
                                </div>
                                <div class="mb-3">
                                    <label for="first_name">Optional field</label>
                                    <input type="text" class="form-control-plaintext" value="Lorem ipsum dolor sit amet" id="first_name">
                                </div>
                                <div class="mb-3">
                                    <label for="first_name">Required field 2</label>
                                    <input type="text" class="form-control-plaintext" value="Lorem ipsum dolor sit amet" id="first_name">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-primary" data-enchanter="previous">Previous</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-outline-primary" data-enchanter="next">Next</button>
                                <button type="button" class="btn btn-outline-success" data-enchanter="finish">Finish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% } %>
<div class="modal fade" id="submissionInfoModal" tabindex="-1" aria-labelledby="submissionInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="submissionInfoModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="submissionInfoContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modifySubmissionModal" tabindex="-1" aria-labelledby="modifySubmissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modifySubmissionModalLabel">Modify submission</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('../snippets/submitForm.ejs', {
                model: indexModel,
                isAdmin: true
                }); %>
            </div>
            <div class="mt-3">
                <div class="hidden" id="error">
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <i class="flex-shrink-0 me-2 bi bi-exclamation-triangle-fill"></i>
                        <div id="errorContent"></div>
                    </div>
                </div>
                <div class="hidden" id="success">
                    <div class="alert alert-success d-flex align-items-center" role="alert" id="success">
                        <i class="flex-shrink-0 me-2 bi bi-check-circle-fill"></i>
                        <div id="successContent">
                            Entry modified successfully
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submissionModifySaveButton">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/fh-3.3.1/sl-1.5.0/datatables.min.js"></script>
<%- include('../snippets/scripts.ejs'); %>
<script type="text/javascript" src="../assets/vendor/Enchanter/enchanter.js"></script>
</body>
</html>

<script>
    Site.loadPage(async site => {
        const submissionInfoModal = new bootstrap.Modal('#submissionInfoModal');
        const submissionModificationModal = new bootstrap.Modal('#modifySubmissionModal');

        loadEventListeners();
        initDt();


        function showSubmissionInfoModel(no, id, wadName, wadLevel, wadEngine, gzDoomAction, submitterName, author, distributable, info, email, downloadUrl) {
            const modalContentWrapper = document.getElementById("submissionInfoContent");
            const modalTitle = document.getElementById("submissionInfoModalLabel");

            const title = `Info for submission ${id}`;
            const body = `
                <p>Id: ${id}</p>
                <p>Wad Name: ${wadName}</p>
                <p>Wad Level: ${wadLevel}</p>
                <p>Wad Engine: ${wadEngine}</p>
                ${gzDoomAction ? `<p>${gzDoomAction}</p>` : ""}
                ${submitterName ? `<p>${submitterName}</p>` : ""}
                <p>Submitter created this map: ${author}</p>
                <p>distributable: ${distributable}</p>
                ${info ? `<pre>${info}</pre>` : ""}
                <p>email: ${email}</p>
                <p>download: ${downloadUrl}</p>
            `;
            modalTitle.innerHTML = title;
            modalContentWrapper.innerHTML = body;
            submissionInfoModal.show();
        }

        function loadEventListeners() {
            ((() => {
                const resumeRoundButton = document.getElementById("resumeRoundButton") ?? null;
                const pauseRoundButton = document.getElementById("pauseRoundButton") ?? null;

                async function pauseRound(pause) {
                    site.loading(true);
                    const resp = await fetch(`${baseUrl}/submissionRound/pauseRound?pause=${pause}`, {
                        method: "POST"
                    });
                    const json = await resp.json();
                    if (resp.status !== 200) {
                        alert(json.message);
                        return;
                    }
                    site.loading(false);
                    window.location.reload();
                }

                document.getElementById("endRoundPauseRoundButton")?.addEventListener("click", async ev => {
                    await pauseRound(true);
                });
                resumeRoundButton?.addEventListener("click", async ev => {
                    await pauseRound(false);
                });
                pauseRoundButton?.addEventListener("click", async ev => {
                    await pauseRound(true);
                });
            })());

            <% if(indexModel.currentActiveRound){ %>
            ((() => {
                let step2Dt;

                function getDuplicateRows() {
                    const findDuplicates = (arr) => {
                        let sorted_arr = arr.slice().sort();
                        let results = [];
                        for (let i = 0; i < sorted_arr.length - 1; i++) {
                            if (sorted_arr[i + 1] === sorted_arr[i]) {
                                results.push(sorted_arr[i]);
                            }
                        }
                        return [...new Set(results)];
                    };

                    const tableData = step2Dt.rows().data();
                    const idArr = [];
                    tableData.each(value => {
                        idArr.push(value[0]);
                    });
                    const dupes = findDuplicates(idArr);
                    const dupeRows = [];
                    step2Dt.rows().every(function () {
                        const data = this.data();
                        const id = data[0];
                        const htmlRow = this.node();
                        if (dupes.includes(id)) {
                            dupes.splice(dupes.indexOf(id), 1);
                            dupeRows.push(htmlRow);
                        }
                    });
                    return dupeRows;
                }

                const wizard = new Enchanter('endRoundWizard', {}, {
                    onNext: () => {
                        function validate() {
                            function validateStep1() {
                                return <%- indexModel.currentActiveRound.paused; -%>;
                            }

                            function validateStep2() {
                                const duplicateRows = getDuplicateRows();
                                return duplicateRows.length === 0;
                            }

                            function validateStep3() {
                                return true;
                            }

                            const currentIndex = wizard.currentIndex();
                            switch (currentIndex) {
                                case 1:
                                    return validateStep1();
                                case 2:
                                    return validateStep2();
                                case 3:
                                    return validateStep3();
                            }
                        }

                        function buildNextStep() {

                            function buildStep2() {
                                if (step2Dt) {
                                    return;
                                }

                                function highlightDupes() {
                                    step2Dt.rows().every(function () {
                                        const htmlRow = this.node();
                                        htmlRow.classList.remove("text-bg-danger");
                                    });
                                    const dupeRows = getDuplicateRows();
                                    for (let dupeRow of dupeRows) {
                                        dupeRow.classList.add("text-bg-danger");
                                    }
                                }

                                step2Dt = $("#endRoundResultsTable").DataTable({
                                    dom: 'Bfrtip',
                                    stateSave: true,
                                    paging: false,
                                    fixedHeader: {
                                        header: true
                                    },
                                    select: {
                                        style: 'multi'
                                    },
                                    ordering: false,
                                    buttons: [
                                        {
                                            text: 'Generate random entry',
                                            action: async (e, dt) => {
                                                const generateEntryEndpoint = `${baseUrl}/submissionRoundResult/generateEntries?count=1`;
                                                site.loading(true);
                                                let json;
                                                let result;
                                                try {
                                                    result = await fetch(generateEntryEndpoint);
                                                    json = await result.json();
                                                } finally {
                                                    site.loading(false);
                                                }

                                                if (result.status !== 200) {
                                                    console.error(json);
                                                    alert("failed to generate entry, see console for more info");
                                                    return;
                                                }
                                                const entry = json[0];
                                                dt.row.add([
                                                    entry.id.toString(),
                                                    entry.WADName,
                                                    entry.level
                                                ]).draw();
                                                highlightDupes();
                                            }
                                        },
                                        {
                                            extend: 'selected',
                                            text: 'Re-generate',
                                            action: async (e, dt) => {
                                                const selected = dt.rows({selected: true}).count();
                                                const generateEntryEndpoint = `${baseUrl}/submissionRoundResult/generateEntries?count=${selected}`;
                                                site.loading(true);
                                                let json;
                                                let result;
                                                try {
                                                    result = await fetch(generateEntryEndpoint);
                                                    json = await result.json();
                                                } finally {
                                                    site.loading(false);
                                                }
                                                if (result.status !== 200) {
                                                    console.error(json);
                                                    alert("failed to update entry, see console for more info");
                                                    return;
                                                }
                                                const selectedRows = dt.rows({selected: true});
                                                selectedRows.every(function (rowIdx, tableLoop, rowLoop) {
                                                    const entry = json[tableLoop];
                                                    this.data([
                                                        entry.id.toString(),
                                                        entry.WADName,
                                                        entry.level
                                                    ]).draw();
                                                });
                                                selectedRows.deselect();
                                                highlightDupes();
                                            }
                                        }
                                    ]
                                });
                            }

                            function buildStep3() {
                            }

                            const nextStep = wizard.nextIndex();
                            switch (nextStep) {
                                case 2:
                                    buildStep2();
                                    break;
                                case 3:
                                    buildStep3();
                            }
                        }

                        if (!validate()) {
                            return false;
                        }
                        buildNextStep();
                    },
                    onPrevious: () => {
                        const prevStep = wizard.previousIndex();
                        console.log(prevStep);
                    },
                    onFinish: () => {
                        console.log("finish");
                    },
                });
            })());
            <% } %>

            document.getElementById("submissionModifySaveButton").addEventListener("click", async ev => {
                try {
                    const result = await site.submitEntryForm(ev, "modifyEntry", true);
                    if (result) {
                        window.location.reload();
                    }
                } catch {

                }
            });
        }

        function initDt() {
            $('.submissionsTable').each(function () {
                const el = $(this);
                const isPreviousRoundCard = el.closest(".preRoundCard").length > 0;
                const dtOpts = {
                    dom: 'Bfrtip',
                    stateSave: true,
                    scrollY: 600,
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    fixedHeader: {
                        header: true
                    },
                    select: {
                        style: isPreviousRoundCard ? 'single' : 'multi'
                    },
                };


                const buttons = [
                    'colvis',
                    {
                        extend: 'selectedSingle',
                        text: 'Full info',
                        action: (e, dt) => {
                            const selectedRow = dt.row({selected: true}).data();
                            showSubmissionInfoModel.apply(undefined, selectedRow);
                        }
                    },
                    {
                        extend: 'selectedSingle',
                        text: 'Modify',
                        action: async (e, dt) => {
                            const selectedRow = dt.row({selected: true}).data();
                            const id = selectedRow[0];
                            site.loading(true);
                            let submission;
                            try {
                                submission = await fetch(`${baseUrl}/submission/getSubmission/${id}`);
                            } finally {
                                site.loading(false);
                            }
                            const submissionObj = await submission.json();
                            const wadName = submissionObj.WADName;
                            const wadURL = submissionObj.WAD ?? null;
                            const wadUrlInput = document.getElementById("wadDownloadUrlSection");
                            wadURL ? wadUrlInput.classList.remove("hidden") : wadUrlInput.classList.add("hidden");
                            const level = submissionObj.level;
                            const engine = submissionObj.engine;
                            const submitterName = submissionObj.authorName;
                            document.getElementById("wadName").value = wadName;
                            if (wadURL) {
                                document.getElementById("wadUrl").value = wadURL;
                            }
                            document.getElementById("levelToPlay").value = level;
                            document.getElementById("gameEngine").value = engine;
                            document.getElementById("authorName").value = submitterName;
                            document.getElementById("submissionId").value = id;
                            submissionModificationModal.show();
                        }
                    }
                ];

                if (!isPreviousRoundCard) {
                    buttons.push({
                        extend: 'selected',
                        text: 'Delete',
                        action: async (e, dt) => {
                            const confirm = window.confirm("Are you sure you wish to delete these entries?");
                            if (!confirm) {
                                return;
                            }
                            const idArr = [];
                            dt.rows({selected: true}).every(function () {
                                const data = this.data();
                                idArr.push(data[0]);
                            });
                            site.loading(true);
                            let response;
                            try {
                                response = await fetch(`${baseUrl}/submission/deleteEntries`, {
                                    method: "DELETE",
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(idArr)
                                });
                            } catch (e) {
                                alert(e.message);
                                return;
                            } finally {
                                site.loading(false);
                            }
                            const responseStatus = response.status;
                            const responseJson = await response.json();
                            if (responseStatus !== 200) {
                                return alert(responseJson.message);
                            }
                            dt.rows({selected: true}).remove().draw(false);
                        }
                    });
                }
                dtOpts["buttons"] = buttons;
                el.DataTable(dtOpts);
            });
        }
    });
</script>
